@charset "utf-8";
/**************************************************************
* 공통 영역
**************************************************************/

/* CSS Document */
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
body,button,input,select,table,textarea{font-family:'S-CoreDream-4Regular','Malgun Gothic',Arial,sans-serif;font-size:1.1rem;font-weight:500;color:#000;line-height:1.6;letter-spacing:-0.04em}
html{height:100%}
body{height:100%;-webkit-text-size-adjust:none}	  
button,fieldset,img{border:0 none}
figure{margin:0;}
fieldset,img{border:0}
img,li{vertical-align:top}
li,ol,ul{list-style:none}
address,em{font-style:normal}
a{color:inherit;text-decoration:none;outline:none;}
a:active,a:focus,a:hover{text-decoration:none;outline:none;}
button{border:0;background:0 0;cursor:pointer;outline:none;}
table{margin:0;padding:0;border:0;border-spacing:0;border-collapse:collapse;}
input,select,textarea{border:0;background:0;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none}
select::-ms-expand{display:none}
/*select {-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}*/
textarea{resize:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none}
embed,iframe,img,object,video{max-width:100%}
input[type=search]::-ms-clear,input[type=search]::-ms-reveal,input[type=text]::-ms-clear,input[type=text]::-ms-reveal{display:none;width:0;height:0}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}
input[type='text'],input[type='password'],input[type='submit'],input[type='search']{-webkit-appearance:none;border-radius:0;}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0}
.ir-text,legend,table caption{overflow:hidden;position:absolute;border:0;width:0;height:0;clip:rect(1px,1px,1px,1px)}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline:none;}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }

/* 공통 내용 영역 제한 */

.hidden_obj {
  overflow: hidden;
  display: inline-block;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  /*clip-path: inset(50%);*/
}

body a:focus, body button:focus, body input:focus, body select:focus, body textarea:focus, body .goBtn:focus {
    outline: 1px dashed red !important;
    box-sizing: border-box;
    outline-offset: -1px;
}


