
/**************************************************************
* 공통 영역
**************************************************************/
html,body{padding:0px;margin:0px;min-width:1523px; background-color:#f5f9fa;}
/*썸머노트 폰트 오류로 인해 note-editable 제외*/
/* html,body,*{font-family:'Nanum Barun Gothic','돋움',Dotum,Helvetica,Sans-serif ;color:#68676c;font-size:12px;}
 */
 html:not(.note-editable)
 {
	font-family:'Nanum Barun Gothic','돋움',Dotum,Helvetica,Sans-serif ;color:#68676c;font-size:12px;
}
div{box-sizing:border-box;}
table{border-collapse:collapse;}
a{text-decoration:none;}
.clear{clear:both;}
.float-right{float:right;}
.float-left{float:left;}

.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font24{font-size:24px;}

.selectStepAddon{background:#fff;border:0px;width:33%;}
.w100per{width:100% !important;}


/**************************************************************
* 사이즈 & 여백
**************************************************************/
.w50{width:50px !important;}
.w60{width:60px !important;}
.w70{width:70px !important;}
.w80{width:80px !important;}
.w90{width:90px !important;}
.w100{width:100px !important;}
.w150{width:150px !important;}
.w200{width:200px !important;}
.w300{width:300px !important;}
.w400{width:400px !important;}
.w500{width:500px !important;}
.wfull{width:100% !important;}

.w50per{width:50% !important;}
.w60per{width:60% !important;}

.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}

.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}

.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}

.h100{height:100px !important;}
.h150{height:150px !important;}
.h200{height:200px !important;}
.h250{height:250px !important;}
.h400{height:400px !important;}
.h500{height:500px !important;}

.pd0{padding:0px !important;}
.input-group .input-group-addon{background:#fbfcfe;border:1px solid #ddd;}
.input-group.whiteBg .input-group-addon{background:#rfff;border:0px;}

/**************************************************************
* Input box
**************************************************************/
/*.form-control{border:1px solid #e3e3e3;padding:12px;width:100%;box-sizing:border-box;}*/
.form-control{display:inline-block !important;}

.btn.btn-primary{background:#4186ed;border:1px solid #519af1;}
.btn.btn-primary I{color:#fff;}
.btn.btn-success{background:#54b8cf;border:1px solid #6d9fa8;color:#fff;}
.btn{font-weight:bold;}
.btn.btn-lg I{color:#fff;font-size:18px;}
.btn.btn-success:active{background:#54b8cf;}
.btn.btn-white{background:#fff;border:1px solid #ccc;color:#666;}
.btn.btn-white I{color:#666;}


/**************************************************************
* 로그인 페이지
**************************************************************/
.loginPage{
	width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background:url(/images/egovframework/gcall/sjsimage/login/bg.jpg);
    justify-content: center;

    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.loginPage .loginWrap{width:480px;}
.loginPage .loginWrap .logo{text-align:center;margin:15% auto 40px;}
.loginPage .loginWrap .box{background:#fff;padding:50px;border-radius:5px;
-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
}
.loginPage .loginWrap .box .title{font-size:21px;text-align:center;margin-bottom:30px;font-weight:Bold;}
.loginPage .loginWrap .box .subtitle{font-size:16px;text-align:center;margin-bottom:50px;color:#939393;line-height:1.5em;}
.loginPage .loginWrap .box .label{font-weight:bold;margin-bottom:10px;color:#68676c;font-size:100%;display:block;text-align:left;}
.loginPage .loginWrap .box input{margin-bottom:15px;display:block !important;width:100%;}
.loginPage .loginWrap .box .btnWrap{text-align:right;margin-top:50px;margin-bottom:20px;}
.loginPage .loginWrap .comment{color:#fff;text-align:center;font-size:14px;margin-top:20px;}


/**************************************************************
* 전체 레이아웃
**************************************************************/
.layout{background:#f5f9fa;width:100%;}
.layout .logoArea,.layout .leftMenuArea{width:430px;padding-left:48px;padding-right:36px;box-sizing:border-box;}

.layout .logoArea {text-align:center;padding-top:40px;padding-bottom:50px;border:1px solid #dddee3;}
.layout .logoArea img{margin-bottom:15px;}
.layout .logoArea span{display:block;text-align:center;clear:both;font-size:18px;}
.layout .logoArea span>b{font-size:18px;}

.layout .topQuick {background:#fff;text-align:right;border:1px solid #dddee3;;padding:0px;height:1px;}
.layout .topQuick>*{font-size:17px;color:#000;}
.layout .topQuick .text{padding:10px 20px;}
.layout .topQuick a.logoutBtn{padding:30px;border-left:1px solid #dddee3;display:inline-block;box-sizing:border-box;color:#000;margin-left:20px;}
.layout .topQuick a.logoutBtn I{font-size:17px;color:#000;}

.layout .topMenuArea{padding:30px;border-bottom:1px solid #dddee3;}
.layout .topMenuArea .topMenu{background:#4186ed;border-radius:5px;overflow:hidden}
.layout .topMenuArea .topMenu ul {list-style:none;background:#53b3e9;background-image: linear-gradient(to right, #56d4e0 , #53adeb);padding:0px;margin:0px;border-radius:5px 0px 0px 5px;;display:inline-block;float:left;}
.layout .topMenuArea .topMenu ul li {float:left;position:relative;}
.layout .topMenuArea .topMenu ul li a{padding:26px 85px;display:inline-block;color:#fff;font-size:21px;}
.layout .topMenuArea .topMenu ul li hr{width:1px;background:#fff;height:25px;position:absolute;left:0px;top:8px;;}
.layout .topMenuArea .topMenu ul li:first-child hr{display:none;}

.layout .topMenuArea .topMenu ul li.active{background:#07b1bd;}
.layout .topMenuArea .topMenu ul li.active hr{display:none;}
.layout .topMenuArea .topMenu ul li.active + li>hr{display:none;}

/* left menu */
.layout .leftMenuArea{vertical-align:top;}
.layout .leftMenuArea .leftMenu{padding:0px;margin:30px 0px;list-style-position:inside;border:1px solid #62c2c1;padding-bottom:50px;background:#fff;border-radius:0px 0px 5px 5px;list-style:none;
-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
}
.layout .leftMenuArea .leftMenu li.ttl{background:#62c2c1;color:#fff;font-size:21px;padding:25px 30px;}
.layout .leftMenuArea .leftMenu li{border-bottom:1px solid #e3e4e8;padding:8px 30px;}
.layout .leftMenuArea .leftMenu li a{display:inline-block;padding:5px;font-size:18px;color:#727989;display:list-item;list-style:disc;list-style-position:inside}
.layout .leftMenuArea .leftMenu li.active {background:#eef6f9;}
.layout .leftMenuArea .leftMenu li.active a{color:#71bf44;font-weight:bold;}


/**************************************************************
* Content
**************************************************************/
.contentArea{vertical-align:top;padding:50px 30px;}
.contentArea .page-title{overflow:hidden;margin-bottom:22px;}
.contentArea .page-title .title{font-size:28px;color:#000;float:left;}
.contentArea .page-title .navi{float:right;line-height:35px;vertical-align:bottom;font-size:18px;color:#999999;}
.contentArea .page-title .navi i{font-size:18px;color:#999999;}
.contentArea .page-title .navi i.fa-chevron-right{margin:0px 10px;color:#999999;}
.contentArea .page-title .navi .now{font-size:18px;color:#000;}
.contentArea .searchBox{padding:28px;}
.contentArea .searchBox>div>*{float:left;margin-right:10px;}
.contentArea .searchBox .ttl{font-size:20px;color:#333;margin-right:33px;padding:10px;}
.contentArea .searchBox .form-control{border:1px solid #5fd8e2;}
.contentArea .searchBox button{float:right !important;}

/**************************************************************
* ListBox
**************************************************************/
.contentArea .listPageNum{font-size:14px;font-weight:bold;margin-bottom:10px;}
.contentArea .listPageNum .now{color:#62c2c1;font-weight:bold;}

.contentArea .table-list.table-bordered{border:0px !important;}
.contentArea .table-list.table-bordered thead tr th{background:#55cde2;color:#fff;text-align:Center;font-size:16px;border:0px;padding:12px 8px;}
.contentArea .table-list.table-bordered tbody{}
.contentArea .table-list.table-bordered tbody tr td{border:0px;text-align:center;font-size:14px;border:0px !important;border-bottom:1px solid #ddd !important; padding:12px 8px;vertical-align:middle;}

/**************************************************************
* Common Contents
**************************************************************/
.contentArea .panel-heading{background:#55cee3;color:#fff;font-size:18px;padding:18px;}
.contentArea .panel-heading label{color:#fff;font-size:18px;}
.contentArea .panel-heading.heading-color2{background:#62c2c1;}
.contentArea .panel-heading.heading-color2 .input-group{display:inline-table;vertical-align:middle;}
.contentArea .panel-heading.heading-color2 .input-group .input-group-addon{border:0px;background:none;}
.contentArea .panel-heading.heading-color2 .input-group .form-control{border-radius:4px;}

.contentArea .panel-heading.heading-color2 .input-group .input-group-addon I{color:#fff;font-size:18px;margin-left:5px;}
.contentArea .panel-heading .form-control{margin-left:10px;margin-right:20px;}
.contentArea .panel-heading .btn-right{float:right;}
.contentArea .panel-title{color:#000;padding:20px;font-size:22px;}
.contentArea .table-bordered tbody tr th{text-align:center;font-size:14px;width:110px;background:#fbfcfe;vertical-align:middle;}
.contentArea .table-bordered tbody tr td input[type=‘text’]{width:100%;}
.contentArea .table-bordered tbody tr td textarea{width:100%;}
.contentArea .scroll-body{height:59vh;overflow-y:auto;border:1px solid #ddd;}
.contentArea .helpBox{background:#fbfcfe;border:1px solid #ddd;border-top:0px;color:#929395;padding:30px;font-size:14px;}


.contentArea .menulist tbody th,.contentArea .menulist tbody td{border-bottom:1px solid #ddd;}
.contentArea .menulist tbody tr:first-child th{font-size:18px;}
.contentArea .menulist tbody tr:first-child th,.contentArea .menulist tbody tr:first-child td{border-bottom:1px solid #4186ed;border-top:0px;}
.contentArea .menulist tbody td{font-size:16px;}

/**************************************************************
* _Pagenation_
**************************************************************/
.pagination>li>a, .pagination>li>span{border:1px solid #fff;;}
.pagination{margin:0px auto;}
.pagination a{font-size:14px;color:#333 !important;}
.pagination a.active{background:#62c2c1;color:#fff !important;border-radius:5px;}
.pagination .box a{border:1px solid #ddd;}
.pagination>li>a, .pagination>li>span{margin-left:0px;}

/**************************************************************
* 지식DB 승인(Q&A) 검색 영역
**************************************************************/
.db_search_area{margin-bottom:50px;}
.db_search_area th{font-size:18px !important;}
.db_search_area .input-group-addon{background:#fff;border:0px;}
.db_search_area input,.db_search_area select,.db_search_area button{border-radius:6px !important;}
.db_search_area button,.db_search_area button I{color:#444 !important;}
.db_search_area input,.db_search_area select,.db_search_area button {background:#fff;border:1px solid #cccccc !important;}


/**************************************************************
* 기타
**************************************************************/
.popupzone_detail{font-size:14px;}
.popupzone_detail>div{font-size:14px;}
.popupzone_detail>div>.form-control{display:inline-block;width:auto !important;}
.popupzone_detail table tr th{background:#fff !important;text-align:right;}
.popupzone_detail table tr td{padding:5px;}

.panel-tab{background:#f7f6f6;border:1px solid #e1e1e1;overflow:hidden;}
.panel-tab .btn{float:left;border-radius:3px;width:200px;padding:20px 0px;color:#fff;border:0px;}

.selected:hover{
	cursor: pointer;
	background-color: #edf5f9;
	border-bottom:2px solid #519af1 !important;
}

.newvideo{
	width:640px;
	height:360px;
}